body {
    margin: 10px;
    font-family: sans-serif;
    background-color: lavender;
    /*display: flex;*/
    /*justify-content: center;*/
}

main {
    padding: 10px;
    margin: 50px;
    border: 1px blueviolet solid;
    border-radius: 10px;
}

.texte {
    /*display: flex;*/
    /*justify-content: center;*/
}