body {
    margin: 10px;
    font-family: sans-serif;
    background-color: lavender;
    /*display: flex;*/
    /*justify-content: center;*/
}

.texte {
    padding: 10px;
    margin: 20px;
    border: 1px blueviolet solid;
    border-radius: 10px;
    max-width: 800px;
}

header, footer, main {
    display: flex;
    justify-content: center;
}