<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhatsAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}" >
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <div>
            <center><img src="../static/robot_1f916.png" height="50"><img src="../static/speech-balloon_1f4ac.png" height="50"></center>
            <h1><a href="/">WhatsAI</a> </h1>
        </div>
    </header>
    <main>
        <div class="texte">
            {% block body %} {% endblock %}
        </div>
    </main>
    <footer>
        <div>
            <a href="https://github.com/AliceAML/whatsai" target="_blank">
            <img src="/static/GitHub_Logo.png" height="32px" />
            <img src="/static/GitHub-Mark-32px.png" />
            </a>
            <br>
            Alice Hammel
        </div>
    </footer>
</body>
</html>